body {
  font-family: 'Roboto', sans-serif;
}
th,
td {
  border: 2px solid black;
}
td,
th {
  padding: 10px;
  text-align: center;
}
tr.calendarWeekdays td {
  font-weight: bolder;
  border-bottom: 1px solid #adadad;
}
.calendarWeekdays td:hover,
.emptyDay:hover {
  background-color: white;
  box-shadow: none;
  cursor: default;
  border-radius: 0%;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.calendar-div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.tbody {
  border: 5px solid black;
}
.next-prev-button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-top: 25px;
  background-color: #adadad;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.next-prev-button:hover {
  background-color: #777777;
}
.redTd {
  color: #ff0202;
}
tr:first-child th {
  font-size: 20px;
  font-weight: bold;
  background: white;
}
td:hover {
  background-color: offwhite;
  box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
tr th {
  cursor: pointer;
  border: transparent;
}
tr td {
  cursor: pointer;
  border: transparent;
}
